@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/blob-scene-haikei.png');
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    min-width: 40%;
    height: 70%;
    background-color: #EEEEEE;
    border-radius: 8px;
    position: relative;
    z-index: 2;

}

.container-img{
    width: 300px;
    margin: 0 auto;
}

img{
    width: 100%;
    height: 100%;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    position: relative;

}

label{
    position: relative;
    left: -125px;
    top: 20px;
}

.entrada{
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    outline: none;
}

p{
    position: relative;
    left: -50px;
    border-bottom: 1px solid #FF6666;
}


.btn{
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    transition: 0.5s ease;
    cursor: pointer;
    border: none;
}

.submit{
    color: #fff;
    background-color: #FF6666;
    border: none;
}

.back{
    border: 1px solid #000;
    background-color: #fff;
}

.btn:hover{
    transform: translateY(-5px);
}

a{
    text-decoration: none;
    color: #000;
    transition: 1s all ease;
}

a:hover{
    color: #FF6666;
}

svg{
    position: fixed;
    z-index: 1;
    top: 0;
}


